:root {
	--shadow-color: rgba(0, 0, 0, 0.5);
}

html, body {
	background-color: var(--background-dark);

	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	font-family: sans-serif;
}

#navbar {
	z-index: 1;

	position: fixed;

	background-color: var(--accent-value2);
	color: var(--foreground);

	width: 100%;
	min-height: 76px;
	height: 5%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	box-shadow: 0px 0px 5px 10px var(--shadow-color);
}

.navbar-section {
	width: max-content;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navbar-item {
	box-sizing: border-box;
	padding: 0px 20px;

	width: max-content;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-size: 24px;

	user-select: none;

	transition-property: background-color;
	transition-duration: 0.15s;

	position: relative;
}

.navbar-item:hover {
	background-color: var(--accent-value3);
}

@keyframes load {
	from { transform: rotateZ(0deg  ); }
	to   { transform: rotateZ(360deg); }
}

.ap-loading {
	animation: 1.5s cubic-bezier(0.4, 0.15, 0.6, 0.85) 0s infinite running load;
}

.ap-button {
	color: var(--foreground);
	background-color: var(--accent-value2);

	border-radius: 4px;

	cursor: default;

	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: background-color;
	transition-duration: 0.15s;
}

.ap-button:hover {
	background-color: var(--accent-value3);
}

.ap-button:active {
	background-color: var(--accent-value1);
}

.ap-button.disabled {
	background-color: var(--accent-value1);
	color: var(--accent-value0);
}

.ap-button.disabled:hover {
	background-color: var(--accent-value1);
	color: var(--accent-value0);
}

.ap-button.disabled:active {
	background-color: var(--accent-value1);
	color: var(--accent-value0);
}

#content-body {
	position: relative;

	top: max(76px, 5%);

	width: 100%;
	height: calc(100% - max(76px, 5%));

	overflow-y: auto;

	display: flex;
	justify-content: center;
}

.page {
	box-sizing: border-box;

	padding: 32px;

	width: 100%;
	height: max-content;
	min-height: 100%;

	background-color: var(--background);
	box-shadow: 0px 0px 5px 10px var(--shadow-color);
}

.page-subsection {
	box-sizing: border-box;
	margin: 32px;
	padding: 16px;
	
	background-color: var(--background-dark);

	border-radius: 8px;

	box-shadow: inset 0px 0px 8px 8px var(--shadow-color);
}

.page-subsection-wrapper {
	padding: 16px;
}

.page-subsection-chunk {
	box-shadow: 0px 0px 8px 8px var(--shadow-color);

	border-radius: 8px;
	overflow: hidden;
}

.page-header {
	box-sizing: border-box;

	height: max-content;

	margin: 16px;
}

.page-subheader {
	margin-bottom: 16px;

	width: 100%;
}

.page-subheader-flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header-text,
.page-subheader-text {
	margin: 0 0 0.25em;

	color: var(--foreground);

	cursor: default;

	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.page-header-text.link,
.page-subheader-text.link {
	transition-property: color;
	transition-duration: 0.15s;
}

.page-header-text.link:hover,
.page-subheader-text.link:hover {
	color: var(--accent-value4);
}

.page-header-text {
	font-size: 48px;
}

.page-subheader-text,
.page-subheader-icon {
	font-size: 32px;
}

.page-subheader-icon {
	margin: 0 0 0.25em;
	height: 32px;
	padding: 0;
}

.page-header-separator,
.page-subheader-separator {
	width: 100%;
	height: 3px;

	background-color: var(--accent-value3);
}
