:root {
	--form-spacing: 48px;

	--element-spacing: 12px;

	--error: #FA7575;
}

#login-page {
	display: block;

	max-width: 1280px;
}

#login-header {
	box-sizing: border-box;

	padding: 0 calc(25% - 64px);

	width: 100%;
	height: max-content;
}

#login-form {
	box-sizing: border-box;

	margin: 24px calc(25% - 64px) 0;
	padding: 24px 0;

	height: max-content;

	background-color: var(--distinction);

	border-radius: 8px;
}

.form-row {
	margin: var(--element-spacing) var(--form-spacing) 0;
	border: 0;
	padding: 0;
	width: calc(100% - var(--form-spacing) * 2);
	height: 40px;
}

.form-row.top {
	margin-top: 0;
}

.form-row.multiline {
	height: max-content;
}

#error-message {
	display: none;

	line-height: 40px;

	color: var(--error);
	font-size: 20px;
}

.login-field {
	box-sizing: border-box;
	padding: 0 var(--element-spacing);
	font-size: 18px;
	border-radius: 4px;
	outline: none;
}

.login-field.error {
	background-color: var(--error);
}

.ap-button.login {
	height: 40px;

	font-size: 18px;
}

#username,
#confirm {
	display: none;
}

#button-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#create-user-button,
#guest-login-button {
	width: calc(50% - var(--element-spacing) / 2);
}

#login-button {
	width: calc(100% - var(--form-spacing * 2))
}

#warning {
	color: var(--foreground);
	font-size: 24px;
}